In [1]:
import pandas as pd

In [2]:
# 2 main datatypes 
# the first one is series data
# series data is one dimensional
brands = pd.Series(['BMW' , 'Nissan' , 'Toyota' , 'Honda'])
colors = pd.Series (['Red' , 'Green' , 'Blue' , 'White'])
print(brands , '\n')
print(colors)

0       BMW
1    Nissan
2    Toyota
3     Honda
dtype: object

0      Red
1    Green
2     Blue
3    White
dtype: object

In [3]:
# the other type is DataFrame
# DataFrame is 2 dimensional
car_data = pd.DataFrame({"Car make" : brands , "Color" : colors })
print(car_data)

  Car make  Color
0      BMW    Red
1   Nissan  Green
2   Toyota   Blue
3    Honda  White

In [4]:
# what usually happen in the real world is you import data not create it like what we did above
car_data = pd.read_csv('./data/car-sales.csv') # type: ignore
print(car_data)

     Make  Color  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [5]:
car_data.to_csv('./data/exported_sales_data.csv' , index=False)
exported_data = pd.read_csv('./data/exported_sales_data.csv') # type: ignore
print(exported_data)

     Make  Color  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [6]:
print('-------- exported_data --------','\n',exported_data , '\n\n')
print('-------- head --------','\n',exported_data.head() , '\n\n')
print('-------- info --------','\n',exported_data.info() , '\n\n') 
print('-------- describe --------','\n',exported_data.describe() , '\n\n')

-------- exported_data --------
      Make  Color  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00


-------- head --------
      Make  Color  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Color          10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes
-------- info --------
 None


-------- describe --------
        Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

## Describe data

In [ ]:
types = car_data.dtypes
[print(t , type(t)) for t in types] # type: ignore

object <class 'numpy.dtypes.ObjectDType'>
object <class 'numpy.dtypes.ObjectDType'>
int64 <class 'numpy.dtypes.Int64DType'>
int64 <class 'numpy.dtypes.Int64DType'>
object <class 'numpy.dtypes.ObjectDType'>

[None, None, None, None, None]

In [13]:
columns = car_data.columns
[print(column , type(column)) for column in columns]

Make <class 'str'>
Color <class 'str'>
Odometer (KM) <class 'str'>
Doors <class 'str'>
Price <class 'str'>

[None, None, None, None, None]

In [ ]:
index = car_data.index
[print(i , type(i)) for i in index] # type: ignore

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>

[None, None, None, None, None, None, None, None, None, None]

In [15]:
description  = car_data.describe()
print(description)

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [18]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Color          10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [20]:
mean = car_data.mean(1 , numeric_only=True)
print(mean)

0     75023.5
1     43951.5
2     16276.0
3      5592.0
4    106549.5
5     49608.5
6     22851.0
7     27371.0
8     30002.0
9     15802.0
dtype: float64

In [21]:
car_prices = pd.Series([100,200,300,400,500,600])
print(car_prices.mean())
print(car_prices.median())
print(car_prices.max())
print(car_prices.min())

350.0
350.0
600
100

In [23]:
car_data.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Color                WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

## Quick inspection: the essentials

In [43]:
from typing import   TypeVar
T = TypeVar('T')

def pr(val:T , title:str):
    print(f"\n --------------------- {title} --------------------- ")
    print(f"Type: {type(val)}")
    print(val , '\n')
    # return val

In [37]:
df = pd.read_csv('./data/car-sales.csv') # type: ignore
# structure and types 
pr( df.shape , 'df.shape')
pr( df.columns , 'df.columns')
pr( df.index , 'df.index')
pr( df.dtypes , 'df.dtypes')

 --------------------- df.shape ---------------------
Type: <class 'tuple'>
(10, 5)


 --------------------- df.columns ---------------------
Type: <class 'pandas.core.indexes.base.Index'>
Index(['Make', 'Color', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')


 --------------------- df.index ---------------------
Type: <class 'pandas.core.indexes.range.RangeIndex'>
RangeIndex(start=0, stop=10, step=1)


 --------------------- df.dtypes ---------------------
Type: <class 'pandas.core.series.Series'>
Make             object
Color            object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

Make             object
Color            object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [40]:
# Integrated summary
pr(df.info() , 'df.info()')
# Numeric Stats only 
pr(df.describe() , 'df.describe()')
pr(df.describe(include='object') , 'df.describe(include=object)')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Color          10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

 --------------------- df.info() ---------------------
Type: <class 'NoneType'>
None


 --------------------- df.describe() ---------------------
Type: <class 'pandas.core.frame.DataFrame'>
       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000


 --------------------- df.describe(include=object) ---------------------
Type: <class 'pandas.core.frame.DataFrame'>
          Make  Color      Price
count       10     10         10
unique       4      5          9
top     Toyota  White  $7,000.00
freq         4      4          2

          Make  Color      Price
count       10     10         10
unique       4      5          9
top     Toyota  White  $7,000.00
freq         4      4          2

In [48]:
pr(df.mean(numeric_only=True) , 'mean')
pr(df.median(numeric_only=True) , 'median')
pr(df.sum(numeric_only=True) , 'sum')
pr(df.min(numeric_only=True) , 'min')
pr(df.max(numeric_only=True) , 'max')

 --------------------- mean ---------------------
Type: <class 'pandas.core.series.Series'>
Odometer (KM)    78601.4
Doors                4.0
dtype: float64


 --------------------- median ---------------------
Type: <class 'pandas.core.series.Series'>
Odometer (KM)    57369.0
Doors                4.0
dtype: float64


 --------------------- sum ---------------------
Type: <class 'pandas.core.series.Series'>
Odometer (KM)    786014
Doors                40
dtype: int64


 --------------------- min ---------------------
Type: <class 'pandas.core.series.Series'>
Odometer (KM)    11179
Doors                3
dtype: int64


 --------------------- max ---------------------
Type: <class 'pandas.core.series.Series'>
Odometer (KM)    213095
Doors                 5
dtype: int64

In [49]:
df['Doors'].sum()

np.int64(40)

In [50]:
price_clean = (
    df["Price"]
      .astype(str)
      .str.replace(r"[^0-9.\-]", "", regex=True)     # keep digits, dot, minus
)
df["Price_num"] = pd.to_numeric(price_clean, errors="coerce") # type: ignore

In [52]:
print("Shape:", df.shape)
display(df.head())              # first look
display(df.info() )                      # types + nulls + memory
display(df.describe())          # numeric stats
display(df.describe(include="object"))  # object stats

print("\nMissingness (top 10):")
display(df.isna().mean().sort_values(ascending=False).head(10))

print("\nCardinality:")
display(df.nunique().sort_values(ascending=False).head(10))

Shape: (10, 6)

     Make  Color  Odometer (KM)  Doors       Price  Price_num
0  Toyota  White         150043      4   $4,000.00     4000.0
1   Honda    Red          87899      4   $5,000.00     5000.0
2  Toyota   Blue          32549      3   $7,000.00     7000.0
3     BMW  Black          11179      5  $22,000.00    22000.0
4  Nissan  White         213095      4   $3,500.00     3500.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Color          10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
 5   Price_num      10 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 612.0+ bytes

None

       Odometer (KM)      Doors     Price_num
count      10.000000  10.000000     10.000000
mean    78601.400000   4.000000   7645.000000
std     61983.471735   0.471405   5379.407753
min     11179.000000   3.000000   3500.000000
25%     35836.250000   4.000000   4625.000000
50%     57369.000000   4.000000   6625.000000
75%     96384.500000   4.000000   7375.000000
max    213095.000000   5.000000  22000.000000

          Make  Color      Price
count       10     10         10
unique       4      5          9
top     Toyota  White  $7,000.00
freq         4      4          2

Missingness (top 10):

Make             0.0
Color            0.0
Odometer (KM)    0.0
Doors            0.0
Price            0.0
Price_num        0.0
dtype: float64

Cardinality:

Odometer (KM)    10
Price             9
Price_num         9
Color             5
Make              4
Doors             3
dtype: int64