In [2]:
from typing import TypeVar


T = TypeVar('T')

def pr(val : T , title:str|None = None) : # type: ignore
    if title != None :
        print(f" ---------------------- {title} ---------------------- ")
    print('type: ' , type(val))
    print(val , '\n')
    # return val

In [4]:
import pandas as pd
df = pd.read_csv('./data/car-sales.csv') # type: ignore
pr(df , 'car sales')

 ---------------------- car sales ----------------------
type:  <class 'pandas.core.frame.DataFrame'>
     Make  Color  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [6]:
pr(df.sample(frac=1))

type:  <class 'pandas.core.frame.DataFrame'>
     Make  Color  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
4  Nissan  White         213095      4   $3,500.00
7   Honda   Blue          54738      4   $7,000.00
1   Honda    Red          87899      4   $5,000.00
5  Toyota  Green          99213      4   $4,500.00
9  Nissan  White          31600      4   $9,700.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
8  Toyota  White          60000      4   $6,250.00
6   Honda   Blue          45698      4   $7,500.00

In [7]:
df_shuffled = df.sample(frac=1)
pr(df_shuffled)

type:  <class 'pandas.core.frame.DataFrame'>
     Make  Color  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
9  Nissan  White          31600      4   $9,700.00
6   Honda   Blue          45698      4   $7,500.00
5  Toyota  Green          99213      4   $4,500.00
8  Toyota  White          60000      4   $6,250.00
7   Honda   Blue          54738      4   $7,000.00
4  Nissan  White         213095      4   $3,500.00
3     BMW  Black          11179      5  $22,000.00
2  Toyota   Blue          32549      3   $7,000.00

In [9]:
# sometimes we may want to work with small percentage of data
df_shuffled = df.sample(frac=0.2)
pr(df_shuffled)

type:  <class 'pandas.core.frame.DataFrame'>
    Make  Color  Odometer (KM)  Doors       Price
7  Honda   Blue          54738      4   $7,000.00
3    BMW  Black          11179      5  $22,000.00

In [11]:
df_shuffled = df.sample(frac=1)
pr(df_shuffled)
df_shuffled = df_shuffled.reset_index( drop= True)
pr(df_shuffled)

type:  <class 'pandas.core.frame.DataFrame'>
     Make  Color  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
5  Toyota  Green          99213      4   $4,500.00
9  Nissan  White          31600      4   $9,700.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
6   Honda   Blue          45698      4   $7,500.00
4  Nissan  White         213095      4   $3,500.00

type:  <class 'pandas.core.frame.DataFrame'>
     Make  Color  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota  Green          99213      4   $4,500.00
3  Nissan  White          31600      4   $9,700.00
4  Toyota   Blue          32549      3   $7,000.00
5     BMW  Black          11179      5  $22,000.00
6   Honda   Blue          54738      4   $7,000.00
7  Toyota  White          60000      4   $6,250.00
8   Honda   Blue          45698      4   $7,500.00
9  Nissan  White         213095      4   $3,500.00

In [12]:
df['Odometer (ML)'] = df['Odometer (KM)'].apply(lambda x : x /1.6)
pr(df)

type:  <class 'pandas.core.frame.DataFrame'>
     Make  Color  Odometer (KM)  Doors       Price  Odometer (ML)
0  Toyota  White         150043      4   $4,000.00      93776.875
1   Honda    Red          87899      4   $5,000.00      54936.875
2  Toyota   Blue          32549      3   $7,000.00      20343.125
3     BMW  Black          11179      5  $22,000.00       6986.875
4  Nissan  White         213095      4   $3,500.00     133184.375
5  Toyota  Green          99213      4   $4,500.00      62008.125
6   Honda   Blue          45698      4   $7,500.00      28561.250
7   Honda   Blue          54738      4   $7,000.00      34211.250
8  Toyota  White          60000      4   $6,250.00      37500.000
9  Nissan  White          31600      4   $9,700.00      19750.000